.git
.gitignore
.github

node_modules
vendor

storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore

.env
.env.*
!.env.example

tests
phpunit.xml
.phpunit.result.cache

*.md
.editorconfig
.styleci.yml

docker-compose.yml
Dockerfile

.idea
.vscode
*.log